<%= form_with model: cover_letter, local: true do |f| %>
  <div class="offer-show-field">
    <label class="offer-show-label">Lettre générée</label>
    <%= f.text_area :content, class: "offer-show-textarea", rows: 18 %>
  </div>

  <%= f.submit "Enregistrer mes modifications", class: "offer-show-btn-primary" %>
<% end %>
